.ck/
*.pyc
*.jsonl

data/*
!data/fs/
data/fs/*
!data/fs/.bashrc
!data/fs/PERSONA.default.md


!data/fs/.kapybara/
data/fs/.kapybara/*
!data/fs/.kapybara/skills/
data/fs/.kapybara/skills/*
!data/fs/.kapybara/skills/core/
!data/fs/.kapybara/skills/meta/
!data/fs/.kapybara/skills/context/
!data/fs/.kapybara/skills/messager/
!data/fs/.kapybara/skills/maintain/
