*.pyc
*.jsonl

data/*
!data/fs/
data/fs/*
!data/fs/.bashrc
!data/fs/PERSONA.default.md
!data/fs/skills/
data/fs/skills/*
!data/fs/skills/core/
!data/fs/skills/meta/
!data/fs/skills/context/
!data/fs/skills/messager/
!data/fs/skills/maintain/
