services:
  basic-os:
    image: ${IMAGE_NAME:-kapybara-basic-os:latest}
    build:
      context: ..
      dockerfile: docker/basic-os/Dockerfile
    environment:
      PUID: "${PUID:?set PUID (e.g. id -u)}"
      PGID: "${PGID:?set PGID (e.g. id -g)}"
    volumes:
      - ../data/fs:/home/k
      - ../core:/core
      - ../collections:/collections

