services:
  basic-os:
    image: ${IMAGE_NAME:-kapybara-basic-os:latest}
    build:
      context: ..
      dockerfile: docker/basic-os/Dockerfile
    environment:
      PUID: "${PUID:?set PUID (e.g. id -u)}"
      PGID: "${PGID:?set PGID (e.g. id -g)}"
      K_CONFIG_BASE: "/home/k/.kapybara"
      K_BASIC_OS_PORT: "22"
      K_BASIC_OS_ADDR: "localhost"
    volumes:
      - ../data/fs:/home/k
      - ../core:/core
      - ../collections:/collections
    ports:
      - "${SSH_HOST_PORT:-2222}:22"
